# O arquivo .DS_Store é um arquivo oculto usado pelo sistema operacional macOS (anteriormente conhecido como OS X) para armazenar metadados e informações de visualização específicas de pastas. Ele é criado automaticamente pelo Finder, o gerenciador de arquivos padrão do macOS, em cada pasta em que você navega no Finder. O arquivo .DS_Store contém informações sobre a organização da pasta, como a posição dos ícones, tamanho das janelas, configurações de exibição e outras informações relacionadas à interface do usuário.
.DS_Store
